/* Reset some defaults browser styles */

body {
    color: black;
    background-color: white;
    padding: auto;
}

/* header {


} */
/* img {
    display:flex;
    margin-left: auto;
} */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
    gap: 20px;
}

/* .image-cropper {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
} */
.profile-pic {
    display: flex;
    margin: 0 auto;
    margin-right: 0cm; 
    height: 100%;
    width: auto;
}